*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.project
/app/*.apk
/projectFilesBackup/
/DrachenListe/

*.apk
/build/*
/captures/*
/.gitignore~
/app/release/output.json
